/*
Theme Name:   Fundify Child
Theme URI:    http://coopfunding.net
Description:  Fundify Child arreglat per a Coopfunding
Author:       bumbum
Author URI:   http://coopfunding.net
Template:     fundify
Version:      1.7.1
Tags:         white, green, right-sidebar, fixed-width, custom-background, custom-header, theme-options, full-width-template, featured-images, flexible-header, custom-menu, translation-ready
Text Domain:  fundify-child
License:      GNU General Public License
*/

@import url("../fundify/style.css");

/* =Theme customization starts here
-------------------------------------------------------------- */

.pastilla {
  display: none; /* block; */
  position: absolute;
  top: 35px;
  left: -40px;
  transform: rotate(-42deg);
  -webkit-transform: rotate(-42deg);
  -moz-transform: rotate(-42deg);
  z-index: 777;
  background-color: rgb(255, 50, 90);
  padding: 6px 60px;
}
.pastilla h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  color: fff;
  
}
.menu-toggle {
  margin-top: 120px;
}

hgroup {
  position: relative;
  top: 20px;
}
header #lang_sel {
  float: right;
  margin: 0px;
  vertical-align: top;
  z-index: 888;
}

/*header div #page {
  height: 42px;
}*/

body.mini-header #header {
  padding-top: 0px;
  height: 145px;
}
.site-header #menu {
  top: 159px; 
}

.site-header .container {
  width: 1140px;
}

.site-header a, .site-header a:hover, site-header a:focus, .site-header a:active {
  text-decoration: none;
}
.site-header h1 {
  display: inline;
  font-family: arial, 'Helvetica Neue', 'Open Sans', helvetica, arial, sans-serif;
  font-weight: bold;
  letter-spacing: -4px;
  position: relative;
  top: -15px; /*-63px;*/
  text-align: left;
  font-size: 70px;
  text-transform: none;
  color: 04937f;
  text-decoration: none;
}
.site-title span.fosc {
  color: 02584c;
  top: 0px;
  display: inline;
}
.site-title span.eslogan {
  font-size: 20px;
  display: inline;
  letter-spacing: -0.5px;
  top: 0px;
  color: 02584c;
  margin-left: 10px;
}
.site-title span.laO {
  letter-spacing: -16px;
}

.site-title img.avatar, .header-image {
  margin-right: 40px;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  bottom: -9px; /*-22px;*/
  margin-left: 30px;
}

.sub-menu {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

#menu .menu-item-1301, #menu .menu-item-1501, #menu .menu-item-1077 {
  padding: 0px;
}

.title {
  background: url("http://www.coopfunding.net/wp-content/uploads/2014/03/bg_footer_clar.jpg") repeat scroll 0% 0%;
  height: 140px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.title.pattern-1 {
  background: url("http://www.coopfunding.net/wp-content/uploads/2014/03/bg_footer_clar.jpg") repeat scroll 0% 0%;
}
.title.pattern-2 {
  background: url("http://www.coopfunding.net/wp-content/uploads/2014/03/bg_footer_clar.jpg") repeat scroll 0% 0%;
}
.title.pattern-3 {
  background: url("http://www.coopfunding.net/wp-content/uploads/2014/03/bg_footer_clar.jpg") repeat scroll 0% 0%;
}
.title.pattern-4 {
  background: url("http://www.coopfunding.net/wp-content/uploads/2014/03/bg_footer_clar.jpg") repeat scroll 0% 0%;
}
.title h1, .title h3 {
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
}
.title h1 {
  padding: 45px 0px 0px;
}
.title-two h1 {
  padding: 35px 0px 0px;
}


#home-page-featured img {
  height: 222px;
  width: 360px;
  margin: 10px 10px 3px 10px;
  opacity: 0.8;
}
#home-page-featured img:hover {
  box-shadow: 0px 0px 0px;
}
#home-page-featured li {
  text-align: center;
}
#home-page-featured a { 
  color: aaaaaa;
}
#home-page-featured a:hover { 
  color: fff;
  text-decoration: none;
}
#home-page-featured ul {
  height: 260px;
}
#home-page-featured {
  height: 260px;
  /*text-align: center;*/
  width: 1140px;
  margin: 0px auto;
  font-size: 13px;
  background-color: 222222;
  padding: 10px;
}
#home-page-featured h1 {
  display: none;
  top: 15%;
  line-height: 45px;
  font-size: 25px;
}

#menu a:hover {
  color: 02584c;
}
#content .dropdown li a:hover {
  color: 02584c;
}
#content .sort-tabs .dropdown ul {
  with: 156px;
}
.campaign-ribbon.featured {
  display: none;
}
.campaign-ribbon.success {
  left: -2.5em;
  top: 1.6em;
}
.campaign-ribbon.unsuccess {
  left: -1.5em;
  top: 0.8em;
  background-color: rgb(4, 147, 127);
}

#main-content .image {
  padding: 0px;
}
#main-content .video-container {
  padding-bottom: 52%;
}
/*.project-details .image img {
  display: none;
  float: none;
  width: 0px;
  height: 0px;
}
.project-details .image {
  width: 0px;
  height: 0px;
  float: none;
}*/
.project-details {
  /*float: right;*/
  padding-bottom: 0;
  border-bottom: 0;
  margin-bottom: 0;
}
.project-details .right-side, .post-details .widget-bio {
  background-color: efeeee;
}
.project-details .contribute-now {
  background-color: e9e8e8;
}

.post-details #sidebar {
  float: right;
  position: relative;
  /*top: 580px;
  right: -360px;*/
}
.post-details #main-content .entry-content {
  display: block;
  position: relative;
  /*top: -405px;*/
}


.post-details #main-content .entry-content .edd-cart-added-alert {
  /*display: none;*/
}
.post-details #main-content .entry-content .atcf_custom_price_wrap input[type="text"] {
    font-size: 16px;
    margin: 0px 0px 0px 8px;
    padding: 15px;
    width: 80%;
    display: inline-block;
}
.post-details #main-content .entry-content .atcf_custom_price_wrap {
  width: 45%;
  float: left;
}
.post-details #main-content .entry-content .edd_purchase_submit_wrapper {
  margin-top: 0px;
  float: right;
}
.post-details #main-content .entry-content .edd_purchase_submit_wrapper a.edd-add-to-cart.edd-has-js {
  padding: 12px 20px;
}
.post-details #main-content .campaign-meta {
  position: relative;
  top: 185px;
  left: 780px;
  width: 360px; 
}
.post-details #main-content .entry-content p {
  margin: 0px 0px 10px 0px;
}

.post-details #sidebar .widget-bio {
  margin-top: 40px;
}

.post-details #sidebar .entry-share {
  /*position: relative;
  top: 175px;
  left: 780px;
  width: 360px;*/
  padding-top: 10px;
}
.post-details #sidebar .entry-share a {
  margin: 10px 28px 5px 0px;
}
.post-details #sidebar .entry-share a.share-widget.fancybox {
  margin: 10px 0px 5px 0px;
}
.post-details #sidebar .post-meta i {
    font-size: 24px;
    vertical-align: middle;
    color: rgb(164, 164, 164);
}
.post-details #sidebar .post-meta div {
    float: left;
    line-height: 30px;
    font-size: 13px;
    margin-right: 20px;
}
.post-details #sidebar .post-meta {
    overflow: hidden;
    padding: 18px 0px 11px;
    margin: 0px 0px 3px;
    border-bottom: 4px double rgb(219, 217, 212);
}
.edd_download_purchase_form .edd_price_options {
  margin: 0px;
}
.single-download #main-content .edd_download_purchase_form {
  margin: 40px 0px 0px 0px;
}


.fundify-modal .atcf_custom_price_wrap input[type="text"] {
  width: 80%;
}
.fundify-modal .atcf_custom_price_wrap {
  width: 60%;
}
.fundify-modal .atcf_custom_price_wrap + .edd_purchase_submit_wrapper {
  width: 40%; 
}

.form-table span.description {
  display: block;
  font-style: italic;
  font-size: 95%;
}
input[type="text"], input[type="email"], input[type="search"], input[type="password"], input[type="number"], 
input[type="file"], textarea, select {
  font-size: 16px;
  /*margin: 0px 0px 0px 8px;
  padding: 15px;*/
  width: 80%;
  display: inline-block;
  /*border: 0;*/
}

#edd_checkout_form_wrap fieldset fieldset {
  margin-bottom: 40px;
}

.entry-content h5 {
  font-weight: bold;
}
.entry-content table {
  font-size: 14px;
  line-height: 1.5;
}
.entry-content td {
  border: 1px solid rgb(200,200,200);
  padding: 10px;
}
.entry-content table thead tr {
  background-color: #ded;
}

#footer {
  padding: 40px 50px;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3);
}
#footer .last-widget ul {
  margin-bottom: 0px;
}
/*#footer .last-widget .copy img {
  box-shadow: -1px -2px 2px rgba(0, 0, 0, 0.2);
}
#footer .last-widget .copy a {
  text-shadow: 1px 2px 2px rgba(255, 255, 255, 0.2);
}*/
#footer .last-widget {
  width: 350px;
}
#footer .legal-terms {
  float: left;
}
#footer .legal-terms ul ul {
  list-style-type: disc;
  list-style-position: inside;
}

.edd_cart_footer_row input[type="submit"]:not(#searchsubmit) {
  padding: 6.5px 10px !important;
}

#edd_checkout_cart {
  width: 100%;
}
#edd_checkout_form_wrap #edd_payment_mode_select {
  margin-top: 0px;
  margin-bottom: 0px;
  border: none;
  padding: 0px 0px 0px 0px;
  position: relative;
  top: -25px;
}
#edd_checkout_form_wrap .edd-payment-icons {
  position: relative;
  top: 60px;
  left: 230px;
}
#edd_checkout_form_wrap {
  line-height: 24px;
}
#edd_checkout_form_wrap label {
  font-weight: normal;
  font-size: 100%;
}
#edd_checkout_form_wrap #edd-payment-mode-wrap .edd-payment-mode-label {
  font-family: 'Oswald';
  font-size: 22px;
  letter-spacing: 2px;
  font-weight: normal;
  padding-bottom: 20px;
  width: 100%;
}
#edd_checkout_form_wrap h3, #edd_checkout_form_wrap h4 {
  font-family: 'Oswald';
  font-size: 22px;
  letter-spacing: 2px;
  font-weight: normal;
  padding: 15px 0px;
  border-top: 4px double rgb(219, 217, 212);
}
#edd_purchase_form legend {
  font-family: 'Oswald';
  font-size: 22px;
  letter-spacing: 2px;
  font-weight: normal;
  line-height: 26px;
  text-transform: none;
  border-bottom: none;
  padding: 15px 0px;
}
#edd_checkout_form_wrap #edd-payment-mode-wrap label {
  display: block;
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: normal;
}
#edd_checkout_form_wrap td {
  vertical-align: baseline;
}
#edd_checkout_form_wrap .mangopay_userheader table {
  width: 400px;
  border: none;
}
#edd_checkout_form_wrap .mangopay_userheader table td {
  border: none;
}
#edd_checkout_form_wrap .mangopay_userheader h3 {
  padding-bottom: 5px;
}
#edd_checkout_form_wrap .mangopay_userheader input[type="checkbox"] {
  margin-top: 5px;
}
#edd_checkout_form_wrap table {
  border-bottom: none;
}

#edd_checkout_form_wrap fieldset {
  border: none;
  padding: 0px;
}
#edd_checkout_form_wrap p#edd-anon-wrap {
  margin: 20px 0px;
}
#edd_checkout_cart .edd_cart_footer_row th.edd_cart_total, #edd_checkout_cart .edd_cart_footer_row th:last-child {
  font-size: 16px;
}
.edd_errors {
  margin-top: 20px;
}

.entry-content p {
  line-height: 24px;
  margin: 0 0 1em;
  font-size: 15px;
  letter-spacing: 0.2px;
}
.entry-content li {
  font-size: 15px;
  letter-spacing: 0.2px;
  line-height: 24px;
  margin-bottom: 10px;
}
.entry-content h4 {
  padding: 20px 0px 15px;
  font-weight: bold;
}
.entry-content h2, .entry-content h3, .entry-content h1 {
  font-weight: normal;
  font-family: 'Oswald';
}
.entry-content h3 {
  padding: 18px 0px 12px;
}

code form, .atcf-register form code, .atcf-submit-campaign code, .atcf-profile code {
  font: 15px/20px 'Lato',serif;
}
.entry-content .atcf-profile-campaigns .atcf-profile-campaign-overview .entry-title {
  font-size: 16px;
  padding: 0 0 15px;
}
#wp-description-editor-container {
   border: 1px solid rgb(219, 217, 212);
}

#sidebar .widget-bio .author-bio-links li a {
   line-height: 20px;
}
img.alignright {
    margin: 0.5em 0px 0.5em 1.71429em;
}
img.alignleft {
    margin: 0.5em 1.71429em 0.5em 0px;
}
